@model e_Prescription.Models.ViewModels.EmailViewModel

@{
    ViewData["Title"] = "Compose Email";
    Layout = "_Layout2";
}

<h2>Compose Email</h2>

<div class="col-md-12">
    <form asp-action="SendEmail" method="post">
        <div class="col-md-10">
            <div class="form-group">
                <label asp-for="FromEmail"></label>
                <input asp-for="FromEmail" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="ToEmail"></label>
                <input asp-for="ToEmail" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Subject"></label>
                <input asp-for="Subject" class="form-control" placeholder="Email subject" />
            </div>

            <div class="form-group">
                <label asp-for="Message"></label>
                <textarea asp-for="Message" class="form-control" readonly></textarea>
            </div>

            <input type="hidden" asp-for="AdmissionId" />

            <button type="submit" class="btn btn-primary">Send Email</button>
        </div>
    </form>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

</div>



