@model e_Prescription.Models.ChronicCondition

@{
    ViewData["Title"] = "AddChronicCondtion";
    Layout = "_Layout2";
}

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="AddChronicCondtion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="ICD_10_CODE" class="control-label">ICD 10 CODE</label>
                    <input asp-for="ICD_10_CODE" class="form-control" />
                    <span asp-validation-for="ICD_10_CODE" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Diagnosis" class="control-label"></label>
                    <input asp-for="Diagnosis" class="form-control" />
                    <span asp-validation-for="Diagnosis" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
